/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, input {
  margin: 0;
  padding: 0;
}

.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}

::ng-deep body {
  font-family: 'Calibri', sans-serif;
  }

.content{
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-columns-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-row{
  padding-top: 10px;
  padding-bottom: 10px;

}

.items-center{
  justify-items: center;
}




